* {
   font-family: sans-serif; 
}
body{
   background-color: #eb94ff;
}   
#tab-menu{
   border-style: solid;
   border-radius: 5px;
   border-color: #510087;
}
.button{
   border-radius: 5px;
   background-color: #f6d1ff;
}   
#main{
   border-radius: 10px;
   background-color: #f6d1ff;  
}   
