* {
   font-family: sans-serif; 
}
body{
   background-color: #eb94ff;
}   
#tab-menu{
   border-style: dotted;
   background-color: #f6d1ff;
}   
#main{
   border-radius: 25px;
   background-color: #f6d1ff;  
}   
