* {
   font-family: sans-serif; 
}
body{
   background-image: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2022%2F01%2Fkeanu-reeves-the-matrix-earnings-cancer-research-donations-000.jpg?fit=max&cbr=1&q=90&w=750&h=500");
   position: sticky;
   top: 50%;
}   
#tab-menu{
   border-style: solid;
   border-radius: 5px;
   border-color: #510087;
   background-color: #f6d1ff;
}
.button{
   border-radius: 5px;
   background-color: #e49ff5;
}   
#main{
   border-radius: 10px;
   background-color: #f6d1ff; 
}   
